/node_modules/
/dist/

.DS_Store
.idea
tailwind-full.config.js
pnpm-lock.yaml

codex-reviewHW1.md
codex-reviewHW1.1.md
作业要求HW1.1.md
作业要求HW1.md
作业要求HW2.md

DESIGN_HW1.1.md
DESIGN_HW1.md

HW2_CLASS_DISCUSSION.md
HW2_SELF_CHECK.md